mixin head(data)
  head
    title= data.title
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic,latin-ext,vietnamese', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='fonts/ionicons/css/ionicons.css')  
    link(rel='stylesheet', type='text/css', href='css/main.css')

mixin revo
  // REVOLUTION STYLE SHEETS
  link(rel='stylesheet', type='text/css', href='revolution/css/settings.css')
  // REVOLUTION LAYERS STYLES
  link(rel='stylesheet', type='text/css', href='revolution/css/layers.css')
  // REVOLUTION NAVIGATION STYLES
  link(rel='stylesheet', type='text/css', href='revolution/css/navigation.css')
  link(rel='stylesheet', type='text/css', href='assets/css/noneed.css')
  // REVOLUTION JS FILES
  script(type='text/javascript', src='revolution/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='revolution/js/jquery.themepunch.revolution.min.js')
  //
    SLIDER REVOLUTION 5.0 EXTENSIONS
    (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading)
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.actions.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.carousel.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.kenburn.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.layeranimation.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.migration.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.navigation.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.parallax.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.slideanims.min.js')
  script(type='text/javascript', src='revolution/js/extensions/revolution.extension.video.min.js')