//
// Pages :: Branding Carousel
// --------------------------------------------------
.carousel-awards {
  .item-award {

  }
}

.carousel-awards-logo {
  .item-award-logo {
    height: 84px;

    img {
      margin: 0 auto;
      opacity: .6;
    }
  }
}

.slick-current {
	.item-award-logo {
    img {
      opacity: 1;
    }
  }
}

// Dark Verision
	