//
// Pages :: Branding Carousel
// --------------------------------------------------
.carousel-awards {
  .item-award {
    .text-hightlight {
      max-width: 750px;
      width: 100%;
      margin: 0 auto;
      font-family: $font-family-base;
    }
  }
}

.carousel-awards-logo {
  .item-award-logo {
    width: 115px;

    img {
      margin: 0 auto;
      opacity: .3;
      max-width: 100%;
    }
  }
}

.slick-current {
	.item-award-logo {
    img {
      opacity: 1;
    }
  }
}

.carousel-logo-branding {
  .slick-slide {
    .item-branding-logo {
      img {
        width: 115px;
        opacity: .4;
        margin: 0 auto;
        transition: $transition-base;
      }
    }

    &.slick-current {
      .item-branding-logo {
        img {
          opacity: 1;
        }
      }
    }
  }
}

// Dark Verision
.dark {
  .text-hightlight {
    span {
      color: $white;
    }
  }
}