//
// Layout :: Content
// --------------------------------------------------

.promotion-wrapper {
  margin-top: -70px;
  .box-promotion {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: $white;
    border-radius: 4px;
    width: 230px;
    padding: 35px 29px;
    padding-bottom: 15px;
    text-align: center;

    img {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 56px;
    }
  }
}

.wrapper-portfolio-detail {
  padding: 70px 30px;
  background-color: $white;
}

.canvas-has-bg {
  background-repeat: no-repeat;
  background-size: 122px 122px;
  width: 240px;
  height: 240px;
  background-position: center center;
}

.portfolio-doughnut-chart-wrapper {
  display: flex;

  .image-chart-wrapper {
    margin-right: 60px;
    width: 360px;

    img {
      width: 100%;
    }
  }

  .chart-detail {
    flex-grow: 1;

    h3 {
      font-size: 24px;
      letter-spacing: 0.7px;

      &.done {
        .status {
          display: inline-block;
          border: 1px solid #41b649;
          border-radius: 25px;
          font-size: 10px;
          line-height: 20px;
          padding: 0 10px;
          vertical-align: 6px;
          margin-left: 15px;
          color: #7a7a7a;

          .icon {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: $cmain;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }
    }

    .sum {
      color: #9b9b9b;
      font-size: 13px;
      letter-spacing: 0.4px;
    }

    .desc {
      font-size: 13px;
      color: #7a7a7a;
    }
  }

  .range-slider-wrapper {
    position: relative;

    .slider-range {
      width: 100%;
      height: 10px;
      background: url('../images/line.png') no-repeat;
      background-size: contain;
      display: flex;
      justify-content: space-between;

      .text {
        margin-top: 8px;
        opacity: 0.8;
        letter-spacing: 0.4;

        &.textarea_one {
          color: $cmain;
        }

        &.textarea_two {
          color: $corange;
        }
      }
    }

    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 14px;
      height: 14px;
      background-color: #f66634;
      cursor: pointer;
      outline: none;
      top: -3px;
      margin-left: -12px;
      border-radius: 50%;
    }

    .ui-slider-range {
      background: url('../images/line.png') no-repeat;
      background-size: cover;
      position: absolute;
      border: 0;
      top: 0;
      height: 100%;
      border-radius: 25px;
    }

    .tooltipRange {
      position: relative;
      display: block;
      top: -40px;
      width: 226px;
      height: 38px;
      line-height: 32px;
      color: #7a7a7a;
      margin-left: 5px;
      text-align: center;
      background: url('../images/bg-tooltip.png') no-repeat;
      background-size: cover;
      transform: translateX(-50%);
      border-radius: 4px;
    }
  }

  .range-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;

    img {
      width: 40px;
      opacity: 0.8;
      margin: 0 22.5px;
    }

    .avatar-range-item {
      position: relative;

      &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $cmain;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
      }
    }

    .avatar-range-item.active {
      img {
        width: 64px;
        opacity: 1;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

.chart-portfolio-holder.chart-line {
  footer {
    p {
      letter-spacing: 0.4;
      color: #58595b;
      font-size: 13px;
    }
  }
}

.box-detail-fun {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  
  &.no-information {
    padding: 65px;

    img {
      width: 83px;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-size: 24px;
      color: #7a7a7a;
      margin: 0;
    }
  }
}

.age-wrapper {
  h3 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #58595b;
  }

  button {
    width: 390px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #f3f3f3 97%);
    background-image: linear-gradient(to bottom, var(--white), #f3f3f3 97%);
    border: solid 1px rgba(155, 155, 155, 0.8);
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: $transition-base;
    color: #58595b;
    margin-bottom: 16px;

    &:focus {
      box-shadow: 0 1px 4px 0 rgba(0, 154, 70, 0.26);
      background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
      background-image: linear-gradient(to bottom, var(--white), #e6e6e6);
      border: solid 1px #009a46;
      outline: 0;
      font-weight: bold;
    }
  }
}

.modal {
  .modal-qa {
    width: 770px;
    border-radius: 4px;
    padding: 25px;

    .modal-header {
      border-bottom: 0;
      flex-direction: column;
      margin-bottom: 15px;

      img {
        width: 48px;
        margin-bottom: 13px;
      }

      h5 {
        font-size: 24px;
        color: #58595b;
        letter-spacing: 0.6px;
      }
    }

    .modal-body {
      h3 {
        font-size: 24px;
        letter-spacing: 0.7px;
        color: #58595b;
      }

      p {
        font-size: 13px;
        color: #9b9b9b;
        letter-spacing: 0.4px;
      }

      .canvas-has-bg {
        margin-bottom: 30px;
      }
    }

    .modal-footer {
      border-top: 0;
      button {
        width: 165px;
      }
    }
  }
}

.avatar-profile {
  text-align: center;

  img {
    width: 116px;
    margin: 0 auto 20px auto;
  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    color: #58595b;
    margin-bottom: 40px;
  }
}

.title-profile {
  font-size: 16px;
  color: #58595b;
  font-weight: 400;
  margin-bottom: 15px;
}












