//
// Layout :: Header Info
// --------------------------------------------------
.header-info {
  height: 145px;
  color: $white;
  background-color: $cmain;

  &.has-bg {
    height: 300px;
    background: $cmain url('../images/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;

    .wrapper {
      height: 100%;
    }

    .inner {
      height: 100%;

      h3 {
        font-weight: 100;
        font-size: 32px;
        margin-bottom: 15px;
        letter-spacing: 0.8px;
      }

      p {
        margin: 0;
        font-size: 24px;
        letter-spacing: 0.6px;
        font-weight: 300;
      }
    }
  }

  .has-chart {
    height: 300px;
  }

  &.no-invest {
    height: 300px;
    padding: 20px 0;

    .total-invest {
      p.text-top {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin-bottom: 0;
      }

      .money {
        font-size: 28px;
        font-weight: 500;
      }

      .currency {
        font-size: 18px;
        font-weight: 100;
      }
    }

    .promotion {
      p {
        letter-spacing: 0.4px;
        font-size: 18px;
        font-weight: 300;
      }
    }

    footer {
      p {
        opacity: 0.8;
        letter-spacing: 0.3px;
        font-size: 10px;
      }
    }
  }
}