//
// Layout :: Header
// --------------------------------------------------
.top-header {
	background-color: $white;
}

// Verision Dark
	.dark {
		.menuzord {
			background-color: $secondary-color;

			&.transparent {
				background-color: transparent;
			}
		}
	}

// Verision Dark
	.light {

		.menuzord.transparent {
			
		}
	}

// Left Menu


// Space Between Block Header


// Center Block Header

