//
// Components :: Navigation
// --------------------------------------------------
.navigation {
	.menuzord-brand {
		img {
			width: 210px;
		}
	}
}

.menuzord {
	min-height: 0;
	padding: 0;
}

.menuzord {
	&.transparent {
		background: transparent;
	}
}

// Verision Dark
	.dark {
		.menuzord-menu > li {
			text-align: center;
		}
		.menuzord-menu > li > a {
			color: $white;

			&:hover {
				color: $main-color;
			}
		}
	}

// Verision Dark
	.light {

		.menuzord-menu > li > a {
			color: $secondary-color;

			&:hover {
				color: $main-color;
			}
		}
	}