//
// Layout :: SideBar
// --------------------------------------------------
.sidebar {
	height: 100vh;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  background-color: #1C2331;

  .list-group-links {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: block;

        a {
          text-decoration: none;
          color: $white;
          transition: $transition-base;
        }
      }
    }
  }
}

//Level 1
.sidebar .list-group-links {
  &>ul {
    >li {
      a {
        line-height: 40px;
        height: 40px;
        display: block;
        padding-left: 15px;
      }
    }
  }
}

//Level 2 and more
.sidebar .list-group-links {
  &>ul ul {

    &>li {
      a {
        line-height: 32px;
        height: 32px;
        padding-left: 30px;
      }
    }
  }
}

//Sidebar menu active leve 1
.sidebar .list-group-links > ul > li > a[aria-expanded="true"] {
  background-color: #3F729B;
}

//Sidebar menu active leve 2
.sidebar .list-group-links > ul ul > li a[aria-expanded="true"] {
  background-color: #3F729B;
}

// Verision Dark
  .dark {

  }

// Verision Dark
  .light {

  }