//
// Components :: Team
// --------------------------------------------------

.card-overlay {
  background-color: transparent;
  
  .card-header {
    position: relative;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $white;
  opacity: 0;
  transition: $transition-base;

  &:hover {
    opacity: 1;
  }
}

.overlay.main-color {
  background-color: rgba($main-color, .8);
}

.overlay.secondary-color {
  background-color: rgba($secondary-color, .95);
}

.overlay.team-2 {
  padding: 15px;

  p {
    margin: 0;
  }
}

.overlay-view-more-square {
  opacity: 1;

  i {
    color: $main-color;
    font-size: 48px;
    transition: $transition-base;
  }

  h5 {
    color: $white;
  }

  &:hover {
    background-color: $main-color;
    text-decoration: none;

    i {
      color: $white;
    }
  }
}

.item-team {
  @include media-breakpoint-down(sm) {
    h4 {
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 13px;
      margin: 0;
    }
  }
}