//
// Base :: Global
// --------------------------------------------------
body {
  font-size: 15px;
  line-height: 24px;
  color: #696969;
}

.hidden {
	display: none;
}

.feature-img {
  width: 100%;
  max-width: 100%;
}