//
// Base :: Global
// --------------------------------------------------

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #58595b;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

.fixed-w {
  min-width: 970px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.main-content {
  padding: 20px 0;
}

.g-recaptcha {
  > div {
    margin: 0 auto;
  }
}