//
// Base :: Global
// --------------------------------------------------
body {
  font-size: 15px;
  line-height: 24px;
  color: #696969;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.feature-img {
  width: 100%;
  max-width: 100%;
}

.gutters-10 {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.boxed-fluid {
  @extend .container-fluid;
  padding-left: 100px;
  padding-right: 100px;

  @include media-breakpoint-down(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.bg-light-gray {
  background-color: #F9F6F1;
}

.slick-slide {
  cursor: pointer;
}

.bg-overlay {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute!important;
}

.mw-160 {
  min-width: 160px;
}

.py-lg-100 {
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.pt-lg-100 {
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 50px;
  }
}

.pb-lg-100 {
  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
}