//
// Abstracts :: Typography
// --------------------------------------------------
.title {
  font-family: $heading-font;
  color: #262626;
  letter-spacing: 1px;
  font-weight: bold;
}

.title-wrapper {
	.title {
		font-size: 48px;
		margin-bottom: 24px;
	}

	.sub-title {
	  font-size: 16px;
	  font-style: italic;
	  color: #757575;	
	}
}

.text-hightlight {
  font-family: $heading-font;
  color: #ABABAB;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 2px;

  span {
    color: #333;
  }

  &.small {
    font-size: 16px;
    line-height: 28px;
  }
}
