//
// Base :: Utility Classes
// --------------------------------------------------

/// Spacing classes
/// Used to override styles on components without need for
/// additional modifier classes
///
/// Usage:
/// <div class="u-mb0"> // margin-bottom: 0
/// <div class="u-mt20"> // margin-top: 20px

/// Vertical
$vertical-property-map: (
  mt: margin-top,
  mb: margin-bottom,
  pt: padding-top,
  pb: padding-bottom,
);
$sizes-list: 5 10 15 20 25 30;

@each $size in $sizes-list {
  $val: $size + px;
  @each $keyword, $property in $vertical-property-map {
    .u-#{$keyword}#{$size} {
      #{$property}: $val !important;
    }
  }
}

/// Zero
$zero-property-map: (
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);

@each $keyword, $property in $zero-property-map {
  .u-#{$keyword}0 {
    #{$property}: 0 !important;
  }
}

// Position
.top {
  transform: translate(70px, -100px);
}

.top-center {
  transform: translateY(-100px);
}

/// Sizing
  .mw-120 {
    min-width: 120px;
  }

  .mw-194 {
    min-width: 194px;
    width: 194px;
  }

  .mw-230 {
    min-width: 230px;
  }

  .mw-240 {
    min-width: 240px;
  }

  .mw-278 {
    min-width: 278px;
  }

  .mw-500 {
    min-width: 500px;
  }

  .mxw-300 {
    width: 300px;
  }

  .mxw-600 {
    width: 600px;
  }

  .mxw-478 {
    width: 478px;
  }

  .mxw-500 {
    width: 500px;
  }

  .mxw-570 {
    width: 570px;
  }

  .mxw-750 {
    width: 750px;
  }

  .mxw-1000 {
    width: 1000px;
    max-width: 1000px;
  }

  .h-auto {
    height: auto!important;
  }

  .mb-34px {
    margin-bottom: 34px;
  }

// Text-color
  .cmain {
    color: $cmain!important;
  }

  .corange {
    color: $corange!important;
  }
// Text size
  .fs20 {
    font-size: 20px!important;
  }

// Background color
  .bg-grey {
    background-color: #f7f8f8;
  }

  .bg-white {
    background-color: #ffffff;
  }



