//
// Docs color palette classes
//

@each $color, $value in $colors {
  .swatch-#{$color} {
    background-color: #{$value};
    @include color-yiq($value);
  }
}

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    background-color: #{$value};
    @include color-yiq($value);
  }
}

@each $color, $value in $grays {
  .swatch-#{$color} {
    background-color: #{$value};
    @include color-yiq($value);
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
