// Abstracts :: Variables
// --------------------------------------------------

/// Paths
/// -------------------------------------------------


/// Colors
/// -------------------------------------------------

$main-color: #fd6500;
$secondary-color: #696969;
$bg-gray: #f9f6f1;

/// Typography
/// -------------------------------------------------
$font-icon: "Ionicons";
$heading-font: 'Playfair Display';

/// Transitions
/// -------------------------------------------------

/// Space
/// -------------------------------------------------
$sidebar-width: 300px!default;