// Abstracts :: Variables
// --------------------------------------------------

/// Paths
/// -------------------------------------------------


/// Colors
/// -------------------------------------------------
$cmain:     #41b649;
$corange:   #f5a623;
$cgrey:     rgba(155, 155, 155, 0.4);
$cred:      #d0021b;
$cgrey:      #9b9b9b;

/// Typography
/// -------------------------------------------------


/// Transitions
/// -------------------------------------------------

/// Space
/// -------------------------------------------------
