// Abstracts :: Variables
// --------------------------------------------------

/// Paths
/// -------------------------------------------------


/// Colors
/// -------------------------------------------------
$cmain:     #41b649;
$corange:   #f7f8f8;
$cgrey:     rgba(155, 155, 155, 0.4);
$cred:      #d0021b;

/// Typography
/// -------------------------------------------------


/// Transitions
/// -------------------------------------------------

/// Space
/// -------------------------------------------------
