//
// Pages :: Home
// --------------------------------------------------

// Home 1
  .portfolio-home-1 {
    .card {
      margin-bottom: 10px;
    }
  }

  .section-footer {
    margin-top: 60px;
    padding-bottom: 100px;
  }

  .team-home-1 {
    .card {
      margin-bottom: 10px;
    }
  }

  .testimonial-home-1 {
    .text-hightlight {
      max-width: 875px;
      margin: 0 auto;
    }
  }