//
// Pages :: Home
// --------------------------------------------------

// Home 1
  .header-home-1 {
    
  }

  .portfolio-home-1 {
    .card {
      margin-bottom: 10px;
    }
  }

  .section-footer {
    margin-top: 60px;

    .btn {
      margin: 0 10px;
    }
  }

  .team-home-1 {
    margin-top: 60px;
    .card {
      margin-bottom: 10px;
    }
  }

  .testimonial-home-1 {
    .text-hightlight {
      max-width: 875px;
      margin: 0 auto;
    }
  }

  .overlay-gallery-home-1 {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #333;
    top: 0;
    left: 0;
  }

  .overlay-blog-home-1 {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: $bg-gray;
    bottom: 0;
    left: 0;
  }

  .subcribe-home-1 {
    .logo {
      width: 142px;
      margin-bottom: 30px;
    }
  }

// Home 2
  .testimonial-home-2 {
    p {
      font-family: $heading-font;
      font-size: 24px;
      line-height: 48px;
      width: 100%;
      max-width: 776px;
      margin: 0 auto;
      font-weight: bold;
    }

    .carousel-testimonials {
      .slick-slide {
        min-height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 88px;
        height: 170px;
        background: url('../images/layer-02.png') no-repeat;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 88px;
        height: 170px;
        background: url('../images/layer-01.png') no-repeat;
      }
    }
  }