//
// Components :: Cards
// --------------------------------------------------

.card-finhay {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 40px;
  position: relative;
  margin-bottom: 30px;

  .title-has-icon {
    margin-bottom: 19px;

    .icon-card {
      width: 22px;
    }

    h4 {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  p.lg {
    color: #7a7a7a;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &.sm {
    padding: 22px 20px;
  }

  .title {
    margin-bottom: 13px;

    h4 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }

  .title-color {
    margin-bottom: 22px;

    h4 {
      font-size: 24px;
      color: $cmain;
      margin-bottom: 0;
    }
  }

  .progress-wrapper {
    margin-bottom: 10px;
  }

  .control {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    outline: 0;
    padding: 0;
    cursor: pointer;

    img {
      width: 12.8px;
      margin-right: 3px;
    }

    span {
      font-size: 12px;
      color: #9b9b9b;
    }
  }

  &.top {
    transform: translate(70px, -100px);
  }
}

.card-finhay {
  &.card-draw {
    padding: 38px 70px;
  }

  &.card-draw-2 {
    padding: 40px;

    .detail-list-wrapper {
      padding: 30px 40px;

      .detail-list {
        margin-bottom: 0;
        
        dt {
          font-size: 13px;
          min-height: 38px;
          display: flex;
          align-items: center;
        }

        dd {
          font-size: 16px;
          font-weight: 400;
          min-height: 38px;
          margin-bottom: 0;
          display: flex;
          align-items: center;

          .copy {
            color: #4a90e2;
            letter-spacing: 0.5px;
            font-weight: 300;
            cursor: pointer;
            transition: $transition-base;

            &:hover {
              color: darken(#4a90e2, 10%);
            }
          }
        }
      }
    }
  }

  .group-bank-btn {
    .btn-bank {
      border: 0;
      background-color: #fff;
      border-radius: 4px;
      height: 50px;
      width: 192px;
      cursor: pointer;
      transition: $transition-base;

      &.active,
      &:hover {
        background-color: #f7f8f8;
      }
    }
  }
}

.card-finhay {
  .more {
    text-decoration: underline;
    color: #9b9b9b;
  }
}