//
// Components :: Icons
// --------------------------------------------------
.icon-bg {
  @include size (120px,120px);
  background-color: $bg-gray;
  transition: $transition-base;
  position: relative;


  img {
    position: absolute;
    bottom: 10px;
    left: 40px;
  }
}

.icon-box-style-2 {
  i {
    font-size: 56px;
    color: $main-color;
  }

  .text-info-box {
    font-family: $heading-font;
    font-size: 18px;
    color: $gray-900;
    margin-bottom: 10px;

    span  {
      color: $gray-600;
    }
  }
}

.card-deck.deck-icon-box-1 .card {
  @include media-breakpoint-down(md) {
    flex-basis: 33.3%;
  }
}