//
// Components :: UI Elements
// --------------------------------------------------

.progress {
  border-radius: 0;
  background-color: rgba(155, 155, 155, 0.3);
  height: 11px;

  .progress-bar.bg-success {
    background-color: $cmain;
    height: 11px;
  }
}

.progress-wrapper {
  .label {
    margin-left: 13px;

    p {
      margin-bottom: 0;
      font-weight: 500;
      color: #7a7a7a;
    }
  }
}

.detail-list {
  dt {
    font-weight: 400;
    font-size: 12px;
    color: #9b9b9b;
  }

  dd {
    font-size: 13px;
    font-weight: 500;
    color: #58595b;
  }

  .currency {
    color: #9b9b9b;
  }
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  height: 70px;
  margin: 0;
  padding: 25px 0;
}

.breadcrumb-item,
.breadcrumb-item.active {
  letter-spacing: 0.4px;
  font-size: 13px;
  color: #9b9b9b;
}

.breadcrumb-item:hover {
  color: $cmain;
}

.breadcrumb-item.active:hover {
  color: #9b9b9b;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #9b9b9b;
  content: ">";
}










