include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +headerLogin
    .header-info.has-bg-qa
      .wrapper.mxw-750
        .inner.d-flex.flex-direction-column.align-items-end
          h3 Đánh giá mức độ nhận rủi ro của bạn
    .main-content
      .wrapper.mxw-750
        .progress-step-qa.pt-2.mb-4
          .step.active
          .step
          .step
          .step
          .step
        .age-wrapper
          h3.mb-4 Độ tuổi của bạn?
          button 18 - 25 tuổi
          button 26 - 40 tuổi
          button 41 - 55 tuổi
          button Lớn hơn 55 tuổi 
    .modal(tabindex='-1', role='dialog')#exampleModal
      .modal-dialog.modal-lg(role='document')
        .modal-content.modal-qa
          .modal-header
            img(src="images/icon-done.png", alt="icon")
            h5.modal-title Đây là cấu trúc quỹ phù hợp với bạn
          .modal-body
            #canvas-holder.canvas-has-bg.text-center.mx-auto(style="background-image:url('images/trau.png')")
              canvas#chart-area-trau
            .text-center.mb-3
              h3 TRÂU NƯỚC
              p Tính cách: Rất mạo hiểm
          .modal-footer.text-center
            button.btn.btn-lg-finhay.green.mx-auto(type='button', data-dismiss='modal') Hoàn thành
  +script
  script(type='text/javascript', src='js/main.js')
