include modules/head/head
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    .container.p-3
      .card-deck.deck-icon-box-1.mt-5
        .card.icon-box-style-1
          .card-body.text-center
            .icon-bg.rounded-circle.mx-auto.mb-4
              img(src='images/icon-cinema-1.png', alt='Icon')
            h4.title.mb-4 Film Production
            p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
            a(href='#').read-more-1
              i.icon.ion-android-add
              | Read more
        .card.icon-box-style-1
          .card-body.text-center
            .icon-bg.rounded-circle.mx-auto.mb-4
              img(src='images/icon-cinema-2.png', alt='Icon')
            h4.title.mb-4 Creative Direction
            p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
            a(href='#').read-more-1
              i.icon.ion-android-add
              | Read more
        .card.icon-box-style-1
          .card-body.text-center
            .icon-bg.rounded-circle.mx-auto.mb-4
              img(src='images/icon-cinema-3.png', alt='Icon')
            h4.title.mb-4 Visual Effects
            p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
            a(href='#').read-more-1
              i.icon.ion-android-add
              | Read more
      .card-deck.mt-5
        .card.icon-box-style-2
          .card-body.p-4
            p.mb-4
              i.icon.ion-ios-telephone
            h4.title.mb-4 Hotline
            p.text-info-box.font-italic
              span Phone 01 :
              | +84 01122000
            p.text-info-box.font-italic
              span Phone 02 :
              | 1900 1080
        .card.icon-box-style-2
          .card-body.p-4
            p.mb-4
              i.icon.ion-ios-location
            h4.title.mb-4 Address
            p.text-info-box.font-italic
              span 937 Abbot Kinney Blvd. Unit D, Venice
        .card.icon-box-style-2
          .card-body.p-4
            p.mb-4
              i.icon.ion-android-mail
            h4.title.mb-4 Email
            p.text-info-box.font-italic
              span Contact@circle.com
            p.text-info-box.font-italic
              span Support@circle_studio.com