include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +header()

    .container
      .row
        .cuong
          h2#examples Examples
          p
            | Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.
          .bd-example(data-example-id='')
            button.cuong-btn LLALAL
            button.btn.btn-primary(type='button') Primary
            button.btn.btn-secondary(type='button') Secondary
            button.btn.btn-success(type='button') Success
            button.btn.btn-danger(type='button') Danger
            button.btn.btn-warning(type='button') Warning
            button.btn.btn-info(type='button') Info
            button.btn.btn-light(type='button') Light
            button.btn.btn-dark(type='button') Dark
      .row
        .col-md-4
          .p-3.mb-3.swatch-primary Primary
        .col-md-4
          .p-3.mb-3.swatch-secondary Secondary
        .col-md-4
          .p-3.mb-3.swatch-success Success
        .col-md-4
          .p-3.mb-3.swatch-danger Danger
        .col-md-4
          .p-3.mb-3.swatch-warning Warning
        .col-md-4
          .p-3.mb-3.swatch-info Info
        .col-md-4
          .p-3.mb-3.swatch-light Light
        .col-md-4
          .p-3.mb-3.swatch-dark Dark
      .row
        .col-md-4
          .p-3.mb-3.swatch-blue Blue
        .col-md-4
          .p-3.mb-3.swatch-indigo Indigo
        .col-md-4
          .p-3.mb-3.swatch-purple Purple
        .col-md-4
          .p-3.mb-3.swatch-pink Pink
        .col-md-4
          .p-3.mb-3.swatch-red Red
        .col-md-4
          .p-3.mb-3.swatch-orange Orange
        .col-md-4
          .p-3.mb-3.swatch-yellow Yellow
        .col-md-4
          .p-3.mb-3.swatch-green Green
        .col-md-4
          .p-3.mb-3.swatch-teal Teal
        .col-md-4
          .p-3.mb-3.swatch-cyan Cyan
      .row.mb-3
        .col-md-4
          .p-3.swatch-100 100
          .p-3.swatch-200 200
          .p-3.swatch-300 300
          .p-3.swatch-400 400
          .p-3.swatch-500 500
          .p-3.swatch-600 600
          .p-3.swatch-700 700
          .p-3.swatch-800 800
          .p-3.swatch-900 900



    +footer()

    script(type='text/javascript', src='js/main.js')
