include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +footer
  script(type='text/javascript', src='js/main.js')
