include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    header
      .appbar.swatch-blue
        span.lnr.linearicons-menu
        .right-control.ml-auto
          span.lnr.linearicons-cog
    .banner
    .avatar
      img.rounded-circle(src='https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg')
    .info
      p.name Ms .Anna Doe
      p.job Project Manager
    .info-2 
      p
        span.lnr.linearicons-home 
        span A2308 / F23
      p 
        span.lnr.linearicons-envelope
        span anna_doe_2912@gmail.com
      p
        span.lnr.linearicons-paw
        span Mun & Tin
    .group-btn
      button.btn.btn-default.btn-phone.swatch-blue
        span.lnr.linearicons-telephone2
        span 0434-76-4545
      button.btn.btn-default.btn-phone.swatch-success
        span.lnr.linearicons-telephone
        span 0944-76-4545
    footer.appbar.swatch-800
      span.lnr.linearicons-home
      span.lnr.linearicons-news
      span.lnr.linearicons-calendar-full
      span.lnr.linearicons-alarm
      span.lnr.linearicons-bag2
      
  script(type='text/javascript', src='js/main.js')
