include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +headerLogin
    .header-info
    .main-content
      .wrapper.d-flex.justify-content-between
        .left
          .card-finhay.mxw-478
            form.form-login.validate
              .title
                h4 Bắt đầu sử dụng Finhay
                p Tiết kiệm và đầu tư bắt đầu chỉ từ 50.000đ. Finhay cũng là nơi giúp bạn tích luỹ kiến thức tài chính cá nhân để đạt được mục tiêu dài hạn.
              .form-group
                label Email của bạn
                .input-wrapper
                  input#email.form-control-finhay(type="email", name="email", placeholder="nhập email của bạn")
                  img.error(src="images/icon-error.png", alt="icon")
                  img.done(src="images/icon-done.png", alt="icon") 
              button#submit(type="submit", disabled).mw-194.btn.orange.btn-lg-finhay TIẾP THEO
                img.arrow(src="images/icon-arrow.png", alt="icon")
              footer 
                a(href="#").d-block.mw-194.text-center Bạn gặp rắc rối?
    +footer
  +script
  script(type='text/javascript', src='js/main.js')
